*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}
body{
    background-color: #161515;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin: 0 15px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
   font-size: 20px;
   font-weight: 500;
   transition:.5s;
}
.navbar ul li a:hover{
    
    color: #13b40b;
    border-bottom: 2px solid #000;
}
.navbar ul li a.active{
    color: #13b40b;
    border-bottom: 2px solid #000;
}
.home{
    height: 100vh;
    display: flex;
    
    align-items: center;
    padding: 60px 9% 0;
    color: #fff;
    
}
.home-info h1{
   font-size: 55px;
}
.home-info h2{
    font-size: 30px;
    margin: 20px 0;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.btn2{
    display: inline-block;
    padding: 10px 30px;
    background-color: #13b40b;
    color: #fff;
    border-radius: 40px;
    font-size: 1.2rem;
    transition: .5s;
    
    border: 2px solid #13b40b;
    box-shadow: 0 0 10px rgba(19, 180, 11, 0.5);
}
.btn2:hover{
    background-color: transparent;
    color: #13b40b;
    box-shadow: none;
}
.home-info .btn2{
    margin-right: 20px;
    
}
.home-info .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #13b40b;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(67, 196, 28, 0.5);
    transition: .5s;
    
}
.home-info .sci a i{
    font-size: 25px;
    color: #fff;
    transition: .5s;
    border-radius: 50%;
   
}
.home-info .sci a i:hover{
    color: #d2e1d1;
    transform: scale(1.2);
}
.home-info .sci a:not(:last-child){
    margin-right: 10px;
}
.home-img .img-box{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: #13b40b;
    border-radius: 50%;
    padding: 5px;
}
.home-img .img-box::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,t);
}
.home-img .img-box .img-item{
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: blueviolet;
}
.home-img .img-box img{
   position: absolute;
    top: 30px;
   display: block;
   width: 85%;
   object-fit: cover;
}
