*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
navbar{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
